<nav class="navbar navbar-dark bg-dark navbar-expand-sm text-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="{{ path('home') }}" class="nav-link text-light">Home</a></li>
        <li class="nav-item"><a href="{{ path('idea_add') }}" class="nav-link text-light">Add</a></li>
        <li class="nav-item"><a href="{{ path('idea_list') }}" class="nav-link text-light">List</a></li>
        <li class="nav-item"><a href="{{ path('main_about_us') }}" class="nav-link text-light">About-us</a></li>
        {% if app.user %}
            <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link text-light">logout</a></li>
            <li class="nav-item"><a class="nav-link"> Bonjour <strong>{{ app.user.username }}</strong></a></li>
        {% else %}
            <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link text-light">Login</a></li>
            <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link text-light">Register</a></li>
        {% endif %}
    </ul>
</nav>


